.App-demos-input-list {
    padding: 16px 20px;
}

.App-demos-input-list-input {
    margin-top: 12px;
    width: 160px;
    height: 32px;
    font-size: 16px;
    border-width: 1px;
    border-right-color: #fff;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-indent: 2px;
}

.App-demos-input-list-input:focus-visible {
    outline: none;
}

.App-demos-input-list-button {
    position: relative;
    background-color: #61dafb;
    width: 80px;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #61dafb;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-sizing: border-box;
    bottom: 1px;
}

.App-demos-input-list-messages {
    margin: 0;
}